html, body {
	height: 100%;
}


body {
	color: #c2b083;
	background-color: #171717;
	font-family: 'Arial', sans-serif;
}



h1 {
	color: #736a4e;
	font-size: 3em;
	text-align: center;
	margin-top: 1em;
}



h2 {
	color: #998e68;
	font-size: 2.5em;
}



h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.75em;
}

h5 {
	font-size: 1.5em;
}


p {
	margin-left: 1em;
	line-height: 1.25;
	letter-spacing: .02em;
	/*text-indent: 2em;*/
}


a:link {
	color: #d9d0b4;
	text-decoration: none;
}


a:visited {
	color: #d2c9a8;
}


a:hover {
	color: #f2efe6;
	text-decoration: underline;
}


a:active {
	color: #f8f7f2;
}

figcaption {
	text-align: center;
}


.centered {
	text-align: center;
}


.block_indent_left_align {
	margin-left: 2em;
	text-indent: 0;
}


.some_indentation {
	margin-left: 3em;
}


#school_picture {
	float: right;
	border-width: 5px;
	border-style: solid;
	border-color: #c2b083;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	position: relative;
	bottom: 260px;
	z-index: 0;

}


#top-section {
	height: 250px;
}



div div {
	padding-left: 2em;
}

/*div#interests ul {
	list-style-type: none;
}*/


#navigation {
	border: solid #505050;
	margin-left: 2em;
	padding-left: 2em;
	width: 310px;
	background: #272727;
	position: relative;
	z-index: 3;
	left: -30px;
}


#content {
	max-width: 1100px;
	margin: 1px auto;
	background-color: #252525;
	padding: 1px 50px 50px 50px;
	min-height: 100%;
}