<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        {{ content }}
    </body>
    <footer>
        <div class="footer_container">
            <div>
                Email me: <a href="mailto:zeke@zekemiller.me">zeke@zekemiller.me</a>.
            </div>
            <div>
                <a href=https://github.com/ZekeMiller/ZekeMiller.github.io">View website source repository</a>
            </div>
        </div>
    </footer>
</html>